<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar registro</h1>
    <div>
        <hr>
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:text="${grupo.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${grupo.nombre}"></dd>

            <dt class="col-sm-2">Descripcion</dt>
            <dd class="col-sm-10" th:text="${grupo.descripcion}"></dd>
        </dl>

        <form th:action="@{/grupos/delete}" method="post">
            <input type="hidden" th:value="${grupo.id}">
            <input type="submit" value="eliminar" class="btn btn-danger">
            <a th:href="@{/grupos}">Regresar</a>
        </form>

    </div>
</div>